* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

:root {
  --pc: hsla(151, 17%, 29%, 1);
  --sc: hsla(151, 17%, 29%, 0.05);

  --font-play-fair: 'Playfair Display';

  --black: #000;
  --white: #fff;

  --text: hsla(0, 0%, 0%, 0.7);

  --bg: hsla(0, 0%, 93%, 1);
  --bg-2: hsla(0, 0%, 0%, 0.2);

  --shadow: 0px 0px 4px 0px hsla(0, 0%, 0%, 0.15);
  --shadow-sm: 0px 0px 30px rgba(127, 137, 161, 0.25);

  --border: 1px solid hsla(0, 0%, 0%, 0.1);

  --transition: all 0.3s ease-in-out;



  --fs-1: 20px;
  --fs-2: 18px;
  --fs-3: 16px;
  --fs-4: 14px;

  --rad-1: 8px;
  --rad-2: 4px;
  --rad-circle: 50%;

  --fw-1: 800px;
  --fw-2: 700px;
  --fw-3: 600px;
  --fw-4: 500px;



  scroll-behavior: smooth;
}


/* # General
  =================================================*/
body {
  background-color: var(--white);
  /* color: var(--text); */
  /* font-size: var(--fs-3); */
  /* line-height: 1.4; */
}

a {
  color: var(--pc);
  transition: all 0.5s;
  text-decoration: none;
}


h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-weight: var(--fw-1) !important;
  line-height: 1.5;
  text-transform: capitalize;
}

h1,
.h1 {
  font-size: clamp(1.2rem, calc(1.2rem + 1.5vw), 2.5rem) !important;
}

h2,
.h2 {
  font-size: clamp(1.325rem, calc(1.325rem + 0.9vw), 2rem) !important;
}

h3,
.h3 {
  font-size: clamp(1.3rem, calc(1.3rem + 0.6vw), 1.75rem) !important;
}

h4,
.h4 {
  font-size: clamp(1.275rem, calc(1.275rem + 0.3vw), 1.5rem) !important;
}

h5,
.h5 {
  font-size: 1.25rem !important;
}

h6,
.h6 {
  font-size: 1rem !important;
}



/* # Common Class
  =================================================*/
.img-placeholder {
  background-color: #c7c7c7;
}

/* row & container  __________ start */
.gd-bg-cont{
  border-radius: var(--rad-1);
  background: var(--bg);
  padding: 40px;
}

.gd-shadow-cont{
  border-radius: var(--rad-1);
  background: var(--white);
  box-shadow: var(--shadow);
  padding: 30px;
}

.border-bottom:not(:first-child) {
  border-top:var(--border);
}



/* # Common Components
  =================================================*/

/* Breadcrumbs ___________Starts */


/* site cards  ___________Starts */
[class$='card']{
  display: flex;
  flex-direction: column;
  position: relative;
  transition: var(--transition);
  height: 100%;
  
}

.gd-card {
  --color: var(--black);
  --meta-c: var(--meta);
  --cat-c: var(--pc);
  gap: 20px;
}



.gd-overlay-card {
  --color: var(--white);
  --meta-c: var(--white);
  --cat-c: var(--white);

  position: relative;
  overflow: hidden;
  gap: 20px;

  width: 100%;
  z-index: -1;

}


.img-placeholder,
.img-placeholder img {
  object-fit: cover;
}

.gd-card-content{
  display: flex;
  flex-direction: column;
  gap: 10px !important;
}

.gd-overlay-card:hover .img-placeholder {
  transform: scale(1.07);
  transition: all 0.5s;
}

.gd-overlay-card .img-placeholder::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
      rgb(0 0 0 / 0%) 0%,
      rgb(0 0 0 / 6%) 27%,
      rgb(0 0 0 / 91%) 90%);
}

.gd-overlay-card .gd-card-content {
  padding: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}




.gd-title {
  color: var(--color) !important ;
  font-family: var(--font-play-fair);
  font-weight:700;
  line-height: 1.4;
  font-size: var(--fs-1);  
  display: -webkit-box !important;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.gd-big-title {
  color: var(--color);
  font-family: var(--font-play-fair);
  font-weight:800;
  font-size: 28px;
  line-height: 1.4;
  display: -webkit-box !important;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.description {
  color: var(--meta);
}

[class*="gd-category"] {
  color: var(--cat-c);
  font-size: var(--fs-4);
  font-weight: 600;
  gap: 5px !important;
}

.gd-category-btn{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  padding: 0.475rem 2rem;
  
  --btn-raise: 1rem;
  clip-path: polygon(var(--btn-raise) 0%, calc(100% - var(--btn-raise)) 0%, 100% 50%, calc(100% - var(--btn-raise)) 100%, var(--btn-raise) 100%, 0 50%);
  background: var(--pc);
  text-transform: uppercase;
 
  background: var(--pc);
  color: var(--white);
  width: fit-content;
}
.gd-midcat-card{
  gap: 40px;
}
.gd-midcat-card .gd-card-content{
  position: relative;
}

  .gd-midcat-card .gd-category-btn {
    margin: -57px auto 0 auto;
    background: var(--white);
    color: var(--pc);
}

.gd-timeline {
  gap: 10px; 
  justify-content: space-between;
  margin-top: auto;
}

.gd-timeline > *{
  font-size: var(--fs-4);
}

:is(.gd-title,.gd-big-title):hover {
  text-decoration: underline;
}



/* Separator_____________Start*/
.gd-sep {
  color: var(--black);
  font-size: 45px;
  font-family: var(--font-play-fair);
  font-weight:700;
}

.gd-sep::before,
.gd-sep::after {
  background-color: var(--bg-2);
}



/* Social Icons _____________Start*/

.gd-social-links ul li a {
  border: var(--border);
  border-radius: var(--rad-circle);
  transition: var(--transition);
  background: var(--white);
}

.gd-social-links ul li a svg {
  fill: var(--pc);
}

/* .gd-social-links ul li a:hover {
  background: var(--sc);
  transition: var(--transition);
} */


/* pagination_____________start */


/* # Header
  =================================================*/
header {
  background: var(--white);
  box-shadow: var(--shadow);
}

.gd-menu ul li a {
  color: var(--black);
}

.gd-menu ul li a:hover,
.gd-menu ul li .active {
  color: var(--pc);
  font-weight: var(--fw-2);
}

/* top bar _______ start */
.top-bar {
  background: var(--pc);
  font-size: var(--fs-4);
}

.top-bar .menu li a,
.top-bar a {
  color: var(--white) !important;
}

/* search form _____ start */
.gd-menu-search-form {
  border: 1px solid var(--pc);
  border-radius: var(--rad-2);
}

.search-btn svg {
  fill: var(--pc);
}

/* dropdown ______ start */
.dropdown::after,
.dropdown .dropdown::after,
.dropdown ul {
  transition: var(--transition);
}

.dropdown ul {
  background: var(--white);
  box-shadow: var(--shadow-sm);
}

.dropdown::after,
.dropdown .dropdown::after {
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m4 5.588 4 4 4-4' stroke='%23000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat;
}

/* mobile nav */
header nav ul {
  background-color: var(--white);
}




/* # Home page
  =================================================*/

/* categories _____ section  */
.gd-con-categories .gd-overlay-card .img-placeholder::after {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) !important;

}
.gd-con-categories .gd-overlay-card .gd-card-content {
  inset: 0;
  justify-content: center;  
  align-items: center;
}
.gd-con-categories .gd-category {
  padding: 10px;
  font-size: var(--fs-2);
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
}

/* category-post */
.gd-bg-cont {
  border-radius: var(--rad-1);
  background: var(--bg);
  padding: 40px 40px 80px 40px;
  z-index: -1;
}

.gd-shadow-cont {
  border-radius: var(--rad-1);
  background: var(--white);
  box-shadow: var(--shadow);
  padding: 40px;
  margin: -40px auto 0 auto;
  width: 90%;
}

/* # Single Page
  =================================================*/

/* Blog header _____________start */



/* Blog sidebar_____________start */


/* table of content */


/* Blog Contents _____________start */


/* table */


/* blockquote */


/* pros-cons */


/* widgets */


/* Accordians faq */


/* # All Author  and Author Single Page 
  =================================================*/


/* # Contact Page Templates
  =================================================*/


/* # Thank You || Search Not Found  || 404 Page
  =================================================*/


/* # Footer
  =================================================*/

.upper-part{
  background:var(--sc);
}
.lower-part{
  background:var(--pc);
}

/* # Scroll top button
  =================================================*/
#scroll_to_top {
  font-size:var(--fs-2);
  background-color: var(--sc);
}

/* # Responsive Code
  =================================================*/
@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 600px) {}