* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

:root {
  --pc: hsla(151, 17%, 29%, 1);
  --sc: hsla(151, 17%, 29%, 0.05);

  --heading-font: "EB Garamond", serif;

  --black: #000;
  --white: #fff;

  --text: hsla(0, 0%, 0%, 0.7);

  --bg: hsla(0, 0%, 93%, 1);
  --bg-2: hsla(0, 0%, 0%, 0.2);

  --shadow: 0px 0px 4px 0px hsla(0, 0%, 0%, 0.15);
  --shadow-sm: 0px 0px 30px rgba(127, 137, 161, 0.25);

  --border: 1px solid hsla(0, 0%, 0%, 0.1);

  --transition: all 0.3s ease-in-out;



  --fs-1: 20px;
  --fs-2: 18px;
  --fs-3: 16px;
  --fs-4: 14px;

  --rad-1: 8px;
  --rad-2: 4px;
  --rad-circle: 50%;

  --fw-1: 800px;
  --fw-2: 700px;
  --fw-3: 600px;
  --fw-4: 500px;



  scroll-behavior: smooth;
}


/* # General
  =================================================*/
body {
  background-color: var(--white);
}

a {
  color: var(--pc);
  transition: all 0.5s;
  text-decoration: none;
}


h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-weight: 700;
  line-height: 1.5;
  text-transform: capitalize;
  font-family: var(--heading-font);
}

h1,
.h1 {
  font-size: clamp(1.2rem, calc(1.2rem + 1.5vw), 2.5rem) !important;
}

h2,
.h2 {
  font-size: clamp(1.325rem, calc(1.325rem + 0.9vw), 2rem) !important;
}

h3,
.h3 {
  font-size: clamp(1.3rem, calc(1.3rem + 0.6vw), 1.75rem) !important;
}

h4,
.h4 {
  font-size: clamp(1.275rem, calc(1.275rem + 0.3vw), 1.5rem) !important;
}

h5,
.h5 {
  font-size: 1.25rem !important;
}

h6,
.h6 {
  font-size: 1rem !important;
}



/* # Common Class
  =================================================*/

/* all-page property for all page ___ start */

.all-page ul li:not(.gd-toc-wrap ul li, .gd-social-links ul li)::before,
.gd-block-faq summary::after {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Cpath d='m6.415 12.858 4-4-4-4' stroke='%230284A4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat;
}

.all-page :is(p, li, h2, h3, h4, h5, h6, summary):not(#breadcrumbs, .gd-toc-wrap ul li, .gd-social-links ul li) a {
  border-bottom: 2px solid var(--pc);
  color: var(--pc);
  font-weight: 600;
  transition: var(--transition);
}

.all-page :is(p, li, h2, h3, h4, h5, h6, summary):not(#breadcrumbs, .gd-toc-wrap ul li, .gd-social-links ul li) a:hover {
  border-bottom: none;
  transition: var(--transition);
}


/* row & container  __________ start */

.img-placeholder {
  background-color: #c7c7c7;
}

.gd-bg-cont {
  border-radius: var(--rad-1);
  background: var(--bg);
}

.gd-shadow-cont {
  border-radius: var(--rad-1);
  background: var(--white);
  box-shadow: var(--shadow);
}

.border-bottom:not(:first-child) {
  border-top: var(--border);
}

.bg-img {
  position: relative;
}

.bg-img::before {
  content: "";
  width: 262px;
  height: 271px;
  position: absolute;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='262' height='271' viewBox='0 0 262 271' fill='none'%3E%3Cg opacity='.05'%3E%3Cpath d='M269.623 135.577a134.814 134.814 0 0 1-161.112 132.221A134.813 134.813 0 0 1 134.811.765V28a107.577 107.577 0 1 0 107.577 107.577z' fill='%233D564A'/%3E%3Cmask id='a' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='60' y='0' width='143' height='195'%3E%3Cpath fill='%23D9D9D9' d='M60.985 0H202.13v194.074H60.985z'/%3E%3C/mask%3E%3Cg mask='url(%23a)'%3E%3Cpath d='M140.379 180.441q-9.705 0-16.614-6.911-6.91-6.909-6.911-16.614H99.211q-4.851 0-8.307-3.455-3.455-3.454-3.455-8.307 0-20.584 13.527-35.506 13.525-14.923 33.522-17.129V0h11.762v92.52q19.995 2.205 33.521 17.128t13.527 35.506q0 4.852-3.455 8.307t-8.307 3.455h-17.643q0 9.705-6.911 16.614t-16.613 6.911m-41.168-35.287h82.335q0-17.055-12.056-29.111t-29.111-12.056-29.112 12.056-12.056 29.111' fill='%233D564A'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat;
  z-index: -1;
}



/* # Common Components
  =================================================*/

/* Breadcrumbs ___________Starts */

/* site-btn ___________Starts */
.gd-btn {
  border: 1px solid var(--pc);
  color: var(--pc);
  background: (var(--white));
  transition: var(--transition);
  border-radius: var(--rad-2);
  font-weight: 500;
}

.gd-btn:has(svg) {
  fill: var(--white);
}

.gd-btn:hover {
  background: var(--pc);
  color: var(--white);
  border: 1px solid var(--pc);
  transition: var(--transition);
}

.gd-btn:hover svg {
  fill: var(--white);
}



/* site cards  ___________Starts */

[class*='card'] {
  transition: var(--transition);
}

.gd-card {
  --color: var(--black);
  --meta-c: var(--meta);
  --cat-c: var(--pc);
}

.gd-midcat-card {
  --color: var(--black);
  --meta-c: var(--meta);
  --cat-c: var(--pc);
}

.gd-overlay-card {
  --color: var(--white);
  --meta-c: var(--white);
  --cat-c: var(--white);
}


.gd-midcat-card .gd-category-btn {
  background: var(--white);
  color: var(--pc);
}

.auth-img img {
  border-radius: var(--rad-circle);
}

.gd-overlay-card .img-placeholder::after {
  background: linear-gradient(to bottom,
      rgb(0 0 0 / 0%) 0%,
      rgb(0 0 0 / 6%) 27%,
      rgb(0 0 0 / 91%) 90%);
}


[class*="title"] {
  color: var(--color) !important;
  font-family: var(--heading-font);
  font-weight: 700;
  line-height: 1.4;
}

.gd-title {
  font-size: var(--fs-1);
}

.gd-big-title {
  font-size: 28px;
}

.description {
  color: var(--meta);
}

[class*="gd-category"] {
  color: var(--cat-c);
  font-size: var(--fs-4);
  font-weight: 600;
}

.gd-category-btn {
  background: var(--pc);
  background: var(--pc);
  color: var(--white);
}

.gd-timeline {
  font-size: var(--fs-4);
}

.gd-timeline>* {
  font-size: var(--fs-4);
}


/* Separator_____________Start*/
.gd-sep {
  color: var(--black);
  font-size: clamp(1.25rem, 0.1339rem + 2.9762vw, 2.8125rem);
  font-family: var(--heading-font);
  font-weight: 700;
}

.gd-sep::before,
.gd-sep::after {
  background-color: var(--bg-2);
}



/* Social Icons _____________Start*/

.gd-social-links ul li a {
  border-radius: var(--rad-circle);
  transition: var(--transition);
  background: var(--white);
  border: 1px solid var(--white);
}

.gd-social-links ul li a:before {
  border: 1px solid var(--white);
  transition: var(--transition);
  background: var(--pc);
}


.gd-social-links ul li a svg {
  position: relative;
  fill: var(--pc);
  transition: var(--transition);

}


.gd-social-links ul li a:hover svg {
  transition: var(--transition);
  fill: var(--white);
}





/* pagination_____________start */


/* # Header
  =================================================*/
header {
  background: var(--white);
  box-shadow: var(--shadow);
  transition: var(--transition);
}

:is(header, footer) li a {
  color: var(--black);
}

:is(header, footer) li a:hover,
.gd-menu ul li .active {
  color: var(--pc);
}

.gd-menu ul li .active {
  font-weight: 600;
}

/* top bar _______ start */
.top-bar {
  background: var(--pc);
  font-size: var(--fs-4);
}

.top-bar .menu li a,
.top-bar a {
  color: var(--white) !important;
}

/* search form _____ start */
.gd-menu-search-form {
  border: 1px solid var(--pc);
  border-radius: var(--rad-2);
}

.search-btn svg {
  fill: var(--pc);
}

/* dropdown ______ start */
.dropdown::after,
.dropdown .dropdown::after,
.dropdown ul {
  transition: var(--transition);
}

.dropdown ul {
  background: var(--white);
  box-shadow: var(--shadow-sm);
}

.dropdown::after,
.dropdown .dropdown::after {
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m4 5.588 4 4 4-4' stroke='%23000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat;
}

/* mobile nav */
header nav ul {
  background-color: var(--white);
}




/* # Home page
  =================================================*/

/* categories _____ section  */
.gd-con-categories .gd-overlay-card .img-placeholder::after {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) !important;
}


.gd-con-categories .gd-category {
  font-size: var(--fs-2);
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
}

/* category-post */
.gd-bg-cont {
  border-radius: var(--rad-1);
  background: var(--bg);
}

.gd-shadow-cont {
  border-radius: var(--rad-1);
  background: var(--white);
  box-shadow: var(--shadow);
}



/* # Single Page
  =================================================*/

/* Blog header _____________start */
.blog-header {
  border-bottom: 1px solid var(--pc);
}

.blog-detail a {
  text-decoration: underline;
}

.blog-detail>*:not(:last-child):after {
  background: url("data:image/svg+xml,%3Csvg width='1' height='21' viewBox='0 0 1 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23000' stroke-opacity='.1' d='M.5.472v20'/%3E%3C/svg%3E") no-repeat;
}

/* Blog sidebar_____________start */

/* table of contents */
.gd-toc-wrap {
  border: 1px solid var(--pc);
  border-radius: var(--rad-1);
}

.toc-header {
  font-weight: 600;
  color: var(--black);
  font-family: var(--heading-font);
  font-size: 25px;
}

.toc-toggle-btn {
  transition: var(--transition);
}

.toc-body {
  transition: opacity 0.3s ease-in-out;
  border-top: 2px solid hsla(0, 0%, 89%, 1);
  margin-top: 10px;
}



.toc-body ul li a {
  color: var(--text);
}

.gd-toc-wrap .toc-body.hidden {
  transition: var(--transition);
}

/* Blog Contents _____________start */


/* table */
table {
  border: 1px solid var(--sc);
}

table tr {
  background-color: var(--sc);
}

table tr:first-child th {
  background: var(--pc);
}

table tr:first-child th {
  color: var(--white);
  font-weight: 600;
}


/* blockquote */

blockquote {
  background-color: var(--sc);
}

/* pros-cons */

.gd-pros-cons-head {
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
}

.gd-pros-wrap .gd-pros-cons-head {
  background-color: #327b00;
}

.gd-cons-wrap .gd-pros-cons-head {
  background-color: #ff0000;
}


.gd-pros-cons-body {
  border: 1px solid var(--sc);
}

.gd-pros-cons-body {
  padding: 20px;
}

/* Accordians faq */
.gd-block-faq summary {
  transition: all 0.2s ease;
  background: var(--sc);
}

.gd-block-faq summary::after {
  transition: all 0.5s ease;
}

.gd-block-faq .block-content-faq {
  transition: all 0.5s;
  border-left: 2px solid var(--pc);
}


/* Notes | Sources | Also Read */

.block-heading {
  background: var(--pc);
  color: var(--white);
  font-weight: 600;
}

.gd-block-note .block-heading::before {
  background: url('data:image/svg+xml,<svg class="file-text" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 2.666H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-12l-6-6Z" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M14 2.666v6h6m-4 5H8m8 4H8m2-8H8" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center;

}

.gd-block-source .block-heading::before {
  background: url('data:image/svg+xml,<svg class="vector" width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.1 7.113H6.773l1.597-5.07c.15-.594-.28-1.18-.87-1.18H2.1a.914.914 0 0 0-.892.813l-1.2 9.375c-.071.562.349 1.062.892 1.062h4.452l-1.73 7.598c-.134.594.3 1.152.875 1.152a.894.894 0 0 0 .78-.468l6.6-11.875c.348-.622-.083-1.407-.777-1.407Z" fill="%23fff"/></svg>') no-repeat center;
}

.gd-block-also-read .block-heading::before {
  background: url('data:image/svg+xml,<svg class="vector" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.036 19.159c-.57-.03-1.012-.486-1.012-1.032V9.423c0-.595.517-1.069 1.139-1.033.944.053 2.353.178 3.816.465 1.463.288 2.978.74 4.133 1.447a.495.495 0 0 1 .239.427v9.609c0 .377-.413.619-.765.442-2.39-1.204-5.844-1.532-7.55-1.621ZM10 .888a3.726 3.726 0 1 1 0 7.45 3.726 3.726 0 0 1 0-7.45Zm.889 9.414c1.155-.707 2.67-1.159 4.132-1.447a28.701 28.701 0 0 1 3.816-.465c.622-.036 1.139.438 1.139 1.033v8.704c0 .547-.442 1.003-1.012 1.033-1.705.09-5.158.417-7.547 1.62-.353.177-.767-.065-.767-.443v-9.601c0-.175.086-.34.239-.434Z" fill="%23fff" stroke="url(%23a)" stroke-width=".049"/><defs><linearGradient id="a" x1="18.449" y1=".863" x2="-.341" y2="20.538" gradientUnits="userSpaceOnUse"><stop stop-color="%2313CC62"/><stop offset="1" stop-color="%23017DAB"/></linearGradient></defs></svg>') no-repeat center;
}

.block-content {
  border: 1px solid var(--pc);
}


/* # All Author  ||  Author Single || category Page
  =================================================*/

.authors-page .auth-img::before {
  background: var(--pc);
}

.authors-page .auth-img::after {
  background: var(--pc);
}

.authors-page .auth-img img {
  border-right: 4px solid var(--pc);
  border-bottom: 4px solid var(--pc);
}

.authors-page .gd-card-content {
  background: var(--sc);
  border-radius: var(--rad-2);
}

.arcive-content .border-bottom:nth-child(-n + 2) {
  border-top: unset;
}


/* # Thank You || Search Not Found  || 404 Page
  =================================================*/
.page-status-content {
  border: 1px solid var(--pc);
  border-top-width: 5px;
  padding: 40px 30px;
}

/* # Contact Page Templates
  =================================================*/
.contact-form {
  border: var(--border);
  border-right: none;
  border-radius: var(--rad-2);
}

.contact-form form {
  background: var(--pc);
  border-radius: 0 var(--rad-2) var(--rad-2) 0;
}


.contact-form .input-group :is(input, textarea) {
  background-color: transparent;
  color: var(--white);
  border-radius: var(--rad-2);
  border: solid 1px var(--white);
  transition: all .3s ease;
}

.contact-form .input-group input:focus {
  border-color: var(--white)
}

.contact-form .input-group label {
  font-size: var(--fs-4);
  background: var(--pc);
  color: var(--white);
  transition: all .3s ease
}


.contact-form .gd-btn {
  background: var(--white);
  color: var(--pc);
  border: 1px solid var(--pc);
  padding: 5px 20px;
}

.contact-form .gd-btn:hover {
  background: var(--pc);
  color: var(--white);
  border: 1px solid var(--white);
}

/* # Footer
  =================================================*/
.upper-part {
  background: var(--sc);
}

.trending-topics span {
  background: var(--pc);
  color: var(--white);
}

.trending-topics::before {
  background: url("data:image/svg+xml,%3Csvg width='179' height='52' viewBox='0 0 179 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36.833 6V5h-.482l-.3.377zm141.94 0L173 .226 167.227 6 173 11.774zM.218 50.377a1 1 0 1 0 1.564 1.246zM36.833 7H173V5H36.833zm-.782-1.623-35.833 45 1.564 1.246 35.834-45z' fill='%23145134'/%3E%3C/svg%3E") no-repeat
}

.trending-topics::after {
  background: url("data:image/svg+xml,%3Csvg width='179' height='53' viewBox='0 0 179 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36.833 47v1h-.488l-.3-.386zm141.94 0L173 52.773 167.227 47 173 41.227zM.211 1.615A1 1 0 1 1 1.79.385zM36.833 46H173v2H36.833zm-.789 1.614-35.833-46L1.79.386l35.833 46z' fill='%23145134'/%3E%3C/svg%3E") no-repeat;
}

.lower-part {
  background: var(--pc);
}

.copywrite {
  text-align: center;
  color: var(--white);
}

.lower-part .menu li a,
.lower-part .gd-timeline>* {
  color: var(--white);
}

/* # Scroll top button
  =================================================*/
#scroll_to_top {
  font-size: var(--fs-2);
  border: 2px solid hsl(150deg 17.57% 29.02%);
  background: #fff;
}

#scroll_to_top svg {
  fill: var(--pc);
}

/* # Responsive Code
  =================================================*/

@media screen and (min-width:1024px) {

  /* header desktop ___________ */
  .sticky-header {
    transition: var(--transition);
  }
}

@media screen and (max-width:1024px) {

  /* header desktop ___________ */
  .back-drop {
    background: var(--black);
  }
}

@media screen and (max-width: 768px) {
  .gd-big-title {
    font-size: var(--fs-1) !important;
  }
}

@media screen and (max-width: 600px) {}